
/* ### Studies.jsx ### */

#studies-page {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    width: 100%;
    min-height: 85%;
    max-height: 85%;
    padding: 0 120px 20px;
}
#studies-menu {
    flex-grow: 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 50px;
    background-color: var(--panel-color-1);
    border: 4px solid var(--border-color-1);
    border-radius: 15px;
}

#studies-menu > button {
    margin-right: 5px;
    padding: 3px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

#studies-menu > button:hover {
    background-color: var(--panel-color-2);
    color: var(--font-1);
}

.study-selected {
    background-color: var(--accent-2);
    color: var(--accent-font-2);
}

.study-selected:hover {
    background-color: var(--accent-1);
    color: var(--accent-font-1);
}

#study-overview {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 1px;
    max-height: 100%;
    background-color: var(--panel-color-1);
    border: 4px solid var(--border-color-1);
    border-radius: 15px;
    overflow: scroll;
    scrollbar-width: none;
}


/* ### INDIVIDUAL MainStudy.jsx ### */
#overview-page {
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
    padding: 80px;
    min-width: 50%;
}
#overview-page > h1 {
    color: var(--title-2);
    text-shadow: 0 0 25px var(--title-glow-2);
}
#overview-page > button {
    margin-top: 20px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: larger;
    background-color: var(--accent-1);
    border: none;
    border-radius: 100px;
    color: var(--accent-font-1);
    transition: all 100ms;
}
#overview-page > button:hover {
    background-color: var(--accent-2);
    columns: var(--accent-font-2);
}
#lessons-menu {
    padding: 70px 100px;
    min-width: 50%;
    background-color: var(--panel-color-2);
    border: 4px solid var(--border-color-2);
    border-radius: 7px;
    overflow: scroll;
    scrollbar-width: none;
}

.lesson-button-wrapper {
    display: flex;
    flex-flow: row;
    min-height: 130px;
}
.lesson-button-wrapper > div:first-child {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: 50px;
    min-height: 100%;
}
.lesson-button {
    min-width: 50px;
    min-height: 50px;
    background-color: transparent;
    border: 4px dashed var(--border-color-3);
    border-radius: 15px;
}
.div-lesson-unfinished > hr {
    height: 100%;
    border: none;
    border-left: 4px dashed var(--border-color-3);
}
.lesson-button-wrapper > div:last-child {
    margin-left: 20px;
}
.subject-title{
    padding: 5px 10px;
    font-size: x-small;
    font-weight: bold;
    background-color: var(--accent-1);
    color: var(--accent-font-1);
}
.lesson-button-wrapper > div:last-child > h2 {
    font-size: xx-larger;
    color: var(--select-title);
    text-shadow: 0 0 25px var(--select-title-glow);
}

.lesson-button-finished {
    background-color: var(--panel-color-3);
    border: 4px solid var(--border-color-3);
}
.div-lesson-finished > hr {
    height: 100%;
    border: none;
    border-left: 4px solid var(--border-color-3);
}


/* ### Lesson.jsx CSS ### */
#lesson-content {
    position: relative;
    width: 100%;
    padding: 20px 20%;
}
#lesson-content > * {
    position: relative;
    margin: 20px 0;
}
#side-button, .hidden-side-area{
    display: flex;
    flex-flow: row;
    position: absolute;
    padding-right: 4%;
    min-width: max-content;
    bottom: 9px;
    right: 100%;
}
#side-button > button, .hidden-side-area > button{
    align-self: center;
    margin-left: 10px;
    padding: 5px 20px;
    background-color: var(--panel-color-2);
    border: none;
    border-radius: 7px;
    font-size: small;
}
#side-button > button, #side-button a{
    background-color: var(--panel-color-2);
    color: var(--font-1);
}
#side-button a {
    text-decoration: none;
}
.hidden-side-area {
    visibility: hidden;
    top: 9px;
}
#lesson-content > *:hover > .hidden-side-area {
    visibility: visible;
}
code {
    padding: 50px 70px;
    background-color: var(--panel-color-2);
    border-radius: 15px;
}