
/* ### Studies.jsx ### */

#studies-page {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    width: 100%;
    min-height: 85%;
    max-height: 85%;
    padding: 0 20px 20px;
}
#studies-menu {
    flex-grow: 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 50px;
    background-color: var(--panel-color-1);
    border: 4px solid var(--border-color-1);
    border-radius: 15px;
}

#studies-menu > button {
    margin-right: 5px;
    padding: 3px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

#studies-menu > button:hover {
    background-color: var(--panel-color-2);
    color: var(--font-1);
}

.study-selected {
    background-color: var(--accent-2);
    color: var(--accent-font-2);
}

.study-selected:hover {
    background-color: var(--accent-1);
    color: var(--accent-font-1);
}

#study-overview {
    flex-grow: 1;
    display: flex;
    flex-flow: row;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 1px;
    max-height: 100%;
    background-color: var(--panel-color-1);
    border: 4px solid var(--border-color-1);
    border-radius: 15px;
}


/* ### INDIVIDUAL MainStudy.jsx ### */
#study-description {
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
    padding: 80px;
    width: 50%;
}
#study-description > button {
    background-color: var(--accent-1);
    color: var(--accent-font-1);
    font-size: medium;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 100px;
}
#study-description > button:hover {
    background-color: var(--accent-2);
    color: var(--accent-font-2);
}

#subject-menu {
    display: flex;
    flex-flow: column;
    padding: 80px;
    width: 50%;
    max-height: 100%;
    background-color: var(--panel-color-2);
    border: 4px solid var(--border-color-2);
    border-radius: 7px;
    overflow: scroll;
    scrollbar-width: none;
}
.subject-tab {
    display: flex;
    flex-flow: row;
    min-height: 110px;
}
.subject-tab > div:first-child {
    display: flex;
    flex-flow: column;
    margin-right: 20px;
    align-items: center;
}
.subject-tab > div:first-child > hr {
    width: 0;
    height: 100%;
    border: 2px solid var(--border-color-3);
}
.subject-tab > div:last-child > h2 {
    margin-top: 6px;
    color: var(--select-title);
    text-shadow: var(--select-title-glow);
}
.subject-button {
    min-width: 50px;
    min-height: 50px;
    background-color: var(--panel-color-3);
    border: 4px solid var(--border-color-3);
    border-radius: 15px;
}

/* ### INDIVIDUAL Subject.jsx Files ### */
#lesson-menu {
    padding: 40px;
    min-width: 400px;
    background-color: var(--panel-color-2);
    border: 4px solid var(--border-color-2);
    border-radius: 7px;
    overflow: scroll;
    scrollbar-width: none;
}
.lesson-select {
    display: flex;
    flex-flow: row;
    min-height: 100px;
}
.lesson-select > div:last-child {
    margin-left: 20px;
}
.lesson-select > div:last-child > h2 {
    margin-top: 5px;
}
.lesson-select > div:last-child > button {
    padding: 5px 10px;
    background-color: var(--panel-color-3);
    border: none;
    border-radius: 10px;
}
.lesson-button > div:last-child > button:hover {
    background-color: var(--panel-color-2);
    border: 2px solid var(--border-color-3);
}
.lesson-button-wrapper{
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: min-content;
}
.lesson-button {
    min-width: 50px;
    min-height: 50px;
    background-color: transparent;
    border: 4px dashed var(--border-color-3);
    border-radius: 15px;
}
.lesson-button-wrapper > hr {
    height: 100%;
}
.hr-vert-line{
    border: 4px dashed var(--border-color-3);
    border-left: 0;
}
.hr-vert-line-finished {
    border: 4px solid var(--border-color-3);
    border-left: 0;
}
#lesson-content {
    flex-grow: 1;
    padding: 50px 150px;
}
.finished-lesson {
    background-color: var(--panel-color-3);
    border-style: solid;
}
.selected-lesson {
    background-color: var(--accent-2);
    border-color: var(--accent-border-2);
}